@page "{portfolioId=kofoed}"
@model Transactions.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Transactions </h1>
    @await Component.InvokeAsync("Transactions", Model.Data.Transactions)
    <a asp-page="/Transactions/Create" up-layer="new">Create New</a>
</div>
