@page "{portfolioId=kofoed}"
@model Investments.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Investments </h1>
    @await Component.InvokeAsync("Investments", Model.Data.Investments)
    <a asp-page="/Investments/Create" up-layer="new">Create New</a>
</div>
