@page "{portfolioId=kofoed}"
@model Investments.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Investments </h1>
    <a asp-page="/Investments/Create" up-layer="new" class="button-link">Create New</a>

    @await Component.InvokeAsync("Investments", Model.Data.Investments)
</div>
