@page "{portfolioId=kofoed}"
@model Web.Pages.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Portfolio - @Model.Data.PortfolioId</h1>
    <b>@Model.Data.TotalValue</b>
    <ul>
        @foreach (var item in Model.Data.InvestmentCounts)
        {
            <li>@item.Key - @item.Value</li>
        }
    </ul>
</div>