@page
@model Web.Pages.Index
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="/Investments/Register">Investments</a>


</div>
