@page "{portfolioId=kofoed}"
@model Web.Pages.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Portfolio - @Model.Data.portfolioId </h1>
    <p>@Model.Data.totalValue
    <p>
</div>