@page "{portfolioId=kofoed}"
@model Web.Pages.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Portfolio - @Model.Data.PortfolioId</h1>
    <p class="big-number">@Model.Data.TotalValue</p>
    <table>
        @foreach (var item in Model.Data.InvestmentCounts)
        {
            <tr>
                <td>
                    @item.Key - @item.Value
                </td>
            </tr>
        }
    </table>
</div>