<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Penger</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div>
        <nav>
            <span>
                <a asp-page="/Index">Home</a>
            </span>
            <span>
                <a asp-page="/Investments/Index">Investments</a>
            </span>
            <span>
                <a asp-page="/Transactions/Index">Transactions</a>
            </span>

        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <hr />
        &copy; 2022 - Penger
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>